body {font-family: "Roboto"; background-color: rgb(20, 20, 20); color:$body;
        background: radial-gradient(circle at bottom, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 51%);
    header {
        nav {background-color: $primary;
            div{ 
                div {
                    img {@include round-profile-img;}
                }
            }
        }
        section {display: flex; justify-content: center;align-items: center;
                 img {min-width: 20%; height: 60%; width: 100%; display: flex; flex-shrink: 4}
        }
    }

    main{ margin-top: 1.5rem;
        aside{
            div{display:inline-block; align-items: center;
                p {margin:0.1rem;}
        }
            img {float:left; margin:0.2rem}
            a {text-decoration: none; color:$secondary;}
            ul {
                li {list-style: none;} 
            }
            img {@include round-profile-img;} 
            em {color:$emphasis;}
        }
        div { margin:0.5rem 0;
            h6 {color:$secondary;}
            
        }
        .section-header {@include flex-between-center; margin: 1rem, 1.5rem;;}
        section {@include flex-evenly-center;
            img {border-radius: 2rem; padding: 0.5rem; min-width: 20%;
                height: 55%; width: 45%; display: flex; flex-shrink: 4}
        }
        a:active {color: #32CB00;text-shadow: 0 0 0.5rem #32CB00;}
        a:hover {color: #32CB00;}
        a:visited {color: #248f00;}
        
    }
        footer {
            div{
                span {display: flex; justify-content: space-between;}
                ul { display: flex; justify-content: flex-end;
                    li {list-style: none;}
                }
                p {color:$secondary;}

            }
        }
    
}

.emphasis-color {color:$emphasis;}
.secondary-color {color:$secondary;}
