.main-card {padding: 0.5rem; min-width: 40%; width: 100%; height: auto;
             border-radius: 1rem; background-color:$primary;
            img {border-radius: 1rem; float: left; margin: 0.3rem; width: 4rem; height: 5rem;}
            p {margin:0.2rem}
            a {text-decoration: none; color:$secondary;}
}
.card-head {color:$secondary; display: flex; align-items: center;}
.card-footer {color:$secondary; display: flex; justify-content: space-between; padding: 0 1rem;}

.profile-cards {@include flex-evenly-center; margin: 1rem, 1.5rem;}
.simple-card {padding: 0.5rem; width: 45%; height: auto;
    border-radius: 1rem; background-color:$primary;display:inline-block;
    h3,h5 { text-align: center;}
}
